.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#input{
align-items: center;
padding:5px;
width: 160px;
font-size: 20px;
border-radius: 3px;
border-color: gray;
}
.container{
  display: grid;
  margin-left: 44.5%;
  grid-template-columns: repeat(3,50px);
  grid-gap: 10px;
}
.euqal{
  grid-area: 5/3/7/4;
}
#color{
  color: rgb(97, 192, 97);
}
#ac{
  background-color: rgb(226, 10, 10);
  border: none;
  color:white;
}